<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://nj01ct02.baidupcs.com/file/dfc879d02573780a380dd0e9c44f7b80?bkt=p3-000002e5af7decb94ccd191c90641d38b2e0&fid=1684765880-250528-245758737661999&time=1525865434&sign=FDTAXGERQBHSKa-DCb740ccc5511e5e8fedcff06b081203-9odurx%2BE1J2WHHADtRj69UZI4sY%3D&to=64&size=112309754&sta_dx=112309754&sta_cs=1&s</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://apibbs.bianla.cn/page/api/vuecommunity/dist/static/img/logo.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://apibbs.bianla.cn/page/api/vuecommunity/dist/static/img/logo.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.bian</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>WeChatAssiant</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
